{{!-- BEGIN-SNIPPET django-page-template --}}
{{!-- Our component manually inserts server-generated DOM into this element --}}
<div class="django-content"></div>

{{#if showingOverlay}}
  {{yield}}
  {{#each page.embeddedEmberComponents as |ec|}}
    {{#ember-wormhole to=ec.id}}
      {{component
        ec.componentName
        classNames=ec.componentName
        embeddedAttrs=ec.args}}
    {{/ember-wormhole}}
  {{/each}}
{{else}}
  {{nypr-loading-templates type=loadingType}}
{{/if}}
{{!-- END-SNIPPET --}}
